header {
  text-align: center;
  background-color: #71b43d;
  border-color: #71b43d;
  height: 40px;
}
.grey-bg {
  background-color: #f7f7f7;

  }
section h2.section-heading {
      font-size: 40px;
      margin-top: 0px;
      margin-bottom: 600px;
  }
h1, h2, h3, h4, h5, h6 {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
  }
.text-muted {
      color: #777777;
    }
body {
        overflow-x: hidden;
        font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-align: center;
    }
a:-webkit-any-link {
        color: #71B43D;
    }
li {
  list-style-type: none;
}
